<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title id="movieTitle">{{movieHead.movieName}} - 猫眼电影 - 一网打尽好电影</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/dianyingxiangqing.css">
    <link rel="shortcut icon" href="../IMG/Blogo.png" type="image/x-icon">

</head>


<body>

<script src="/js/vue.js"></script>
<script src="/business/JS/jquery-1.11.0.min.js"></script>

<!-- 顶部 -->
<header class="dingbu">
    <nav>
        <a href="#" class="logo"></a>
        <div class="xiala1 bian">
            <div class="xiala1_1">
                <a href="#" class="cd">成都</a>
                <span class="sanjiao"></span>
                <ul>
                    <div class="xiala1_1_d">
                        定位城市：
                        <a href="#">成都</a>
                    </div>
                    <li>
                        <span>A</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>B</span>
                        <div>
                            <a href="#">北京</a>
                            <a href="#">保定</a>
                            <a href="#">蚌埠</a>
                            <a href="#">包头</a>
                            <a href="#">本溪</a>
                            <a href="#">巴彦淖尔</a>
                            <a href="#">白城</a>
                            <a href="#">白山</a>
                            <a href="#">毫州</a>
                            <a href="#">滨州</a>
                            <a href="#">巴中</a>
                            <a href="#">北海</a>
                            <a href="#">百色</a>
                            <a href="#">毕节</a>
                            <a href="#">保山</a>
                            <a href="#">宝鸡</a>
                            <a href="#">白银</a>
                            <a href="#">巴州</a>
                            <a href="#">博尔塔拉</a>
                            <a href="#">滨海</a>
                            <a href="#">宝应</a>
                            <a href="#">北流</a>
                            <a href="#">博爱</a>
                            <a href="#">北碚</a>
                            <a href="#">宝丰</a>
                            <a href="#">洣阳</a>
                            <a href="#">博兴</a>
                            <a href="#">博山</a>
                            <a href="#">璧山</a>
                            <a href="#">彬县</a>
                            <a href="#">宾阳</a>
                            <a href="#">博白县</a>
                            <a href="#">博罗县</a>
                            <a href="#">北镇市</a>
                            <a href="#">泊头市</a>
                            <a href="#">北京市</a>
                            <a href="#">巴彦县</a>
                        </div>
                    </li>
                    <li>
                        <span>C</span>
                        <div>
                            <a href="#">重庆</a>
                            <a href="#">成都</a>
                            <a href="#">长沙</a>
                            <a href="#">常州</a>
                            <a href="#">长春</a>
                            <a href="#">沧州</a>
                            <a href="#">承德</a>
                            <a href="#">赤峰</a>
                            <a href="#">长治</a>
                            <a href="#">朝阳</a>
                            <a href="#">池州</a>
                            <a href="#">巢湖</a>
                            <a href="#">滁州</a>
                            <a href="#">潮州</a>
                            <a href="#">郴州</a>
                            <a href="#">常德</a>
                            <a href="#">崇左</a>
                            <a href="#">楚雄</a>
                            <a href="#">昌吉</a>
                            <a href="#">从化</a>
                            <a href="#">常熟</a>
                            <a href="#">长乐</a>
                            <a href="#">长兴</a>
                            <a href="#">慈溪</a>
                            <a href="#">昌邑</a>
                            <a href="#">长葛</a>
                            <a href="#">苍南</a>
                            <a href="#">承德县</a>
                            <a href="#">赤壁</a>
                            <a href="#">崇州</a>
                            <a href="#">淳安</a>
                            <a href="#">曹妃甸</a>
                            <a href="#">昌乐</a>
                            <a href="#">磁县</a>
                            <a href="#">昌黎</a>
                            <a href="#">岑溪</a>
                            <a href="#">成安</a>
                            <a href="#">长垣</a>
                            <a href="#">曹县</a>
                            <a href="#">城阳</a>
                            <a href="#">茌平</a>
                            <a href="#">长汀</a>
                            <a href="#">城固</a>
                            <a href="#">赤水</a>
                            <a href="#">常山</a>
                            <a href="#">长寿</a>
                            <a href="#">潮安</a>
                            <a href="#">潮阳</a>
                            <a href="#">澄海</a>
                            <a href="#">长丰县</a>
                            <a href="#">茶陵</a>
                            <a href="#">常宁市</a>
                            <a href="#">苍溪县</a>
                            <a href="#">慈利</a>
                            <a href="#">长清区</a>
                            <a href="#">崇明区</a>
                            <a href="#">成武县</a>
                            <a href="#">澄江县</a>
                        </div>
                    </li>
                    <li>
                        <span>D</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>E</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>F</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>G</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>H</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>I</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>J</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>K</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>L</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>M</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>N</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>O</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>P</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>Q</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>R</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>S</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>T</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>U</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>V</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>W</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>X</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>Y</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                    <li>
                        <span>Z</span>
                        <div>
                            <a href="#">阿拉善盟</a>
                            <a href="#">鞍山</a>
                            <a href="#">安庆</a>
                            <a href="#">安阳</a>
                            <a href="#">阿坝</a>
                            <a href="#">安顺</a>
                            <a href="#">安康</a>
                            <a href="#">阿勒泰</a>
                            <a href="#">阿克苏</a>
                            <a href="#">安吉</a>
                            <a href="#">安丘</a>
                            <a href="#">安岳</a>
                            <a href="#">安平</a>
                            <a href="#">安宁</a>
                            <a href="#">安溪</a>
                            <a href="#">安化</a>
                            <a href="#">阿勒泰市</a>
                            <a href="#">安福</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="navbar">
            <li>
                <a href="./index.html">首页</a>
            </li>
            <li>
                <a href="./dianying.html">电影</a>
            </li>
            <li>
                <a href="./yingyuan.html">影院</a>
            </li>
            <li>
                <a href="./bangdan.html">榜单</a>
            </li>
            <li>
                <a href="#">热点</a>
            </li>
        </ul>
        <div class="shouji bian">
            <span class="shouji_1"></span>
            <span>APP下载</span>
            <span class="sanjiao"></span>
            <div class="shouji1">
                <div>
                    <div></div>
                </div>
                <p>扫码下载APP</p>
                <p>选座更优惠</p>
            </div>
        </div>
        <div class="sousuo">
            <input class="sousuo_1" type="search" maxlength="32" placeholder="找影视剧、影人、影院" autocomplete="off">
            <input class="sousuo_2" type="submit" value="">
        </div>
        <div class="denglu bian">
            <a href="#">
                <img src="../IMG/avatar.png" alt="">
            </a>
            <span class="sanjiao"></span>
            <div>
                <a href="./denglu.html" target="blank">登录</a>
            </div>
        </div>
    </nav>
</header>
<!-- 详情头 -->
<article class="xiangding">
    <div class="beijing1" id="moviedetail">
        <div class="beijing1_1">
            <div>
<!--                <i></i>-->
                <a href="#">
                    <img :src="movieInfoUp.movieImg" alt="" style="width: 240px; height: 330px">
                </a>
            </div>

        </div>
        <div class="beijing1_2">
            <div class="beijing1_2_1">
                <ul>
                    <li>
                        <h3>{{movieInfoUp.movieName}}</h3>
                    </li>
                    <li>
                        <p>{{movieInfoUp.movieEname}}</p>
                    </li>
                    <li >
                        <span v-for="mt in movieTypeByMovieId">
                            {{mt.typeName}}
                        </span>

                    </li>
                    <li>
                        <p>
                            {{movieInfoUp.movieArea}}/ {{movieInfoUp.movieTime}}
                        </p>
                    </li>
                    <li>
                        <p>{{movieInfoUp.movieReleaseTime}}上映</p>
                    </li>
                </ul>
            </div>
            <div class="beijing1_2_2">
                <div class="beijing1_2_2_1">
                    <a href="#">
                        <i></i>
                        <span>想看</span>
                    </a>
                </div>
                <div class="beijing1_2_2_2">
                    <a href="#">
                        <i></i>
                        <span>评分</span>
                    </a>
                </div>
                <div class="beijing1_2_2_3">
                    <a href="#">特惠购票</a>
                </div>
            </div>
        </div>
        <div class="beijing1_3">
            <div class="beijing1_3_1">
                <p class="beijing1_3_11">用户评分</p>
                <div class="beijing1_3_1_2">
                    <div class="beijing1_3_1_21">
                        <span>9.3</span>
                    </div>
                    <div class="beijing1_3_1_22">
                        <div></div>
                        <p>
                            <span>81.6</span>
                            <span>万人评分</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="beijing1_3_2">
                <p>累计票房</p>
                <p>
                    <span>17.31</span>
                    <span>亿</span>
                </p>
            </div>
        </div>
    </div>
</article>
<!-- 内容部分 -->
<div class="content">
    <article>
        <div class="content_L1">
            <section class="content_L1_1">
                <ul>
                    <li>
                        <input type="radio" id="jieshao" name="lei" checked>
                        <label for="jieshao">
                            <a>介绍</a>
                        </label>
                        <input type="radio" id="yanzhirenyuan" name="lei">
                        <label for="yanzhirenyuan">
                            <a>演职人员</a>
                        </label>
                        <input type="radio" id="jiangxiang" name="lei">
                        <label for="jiangxiang">
                            <a>奖项</a>
                        </label>
                        <input type="radio" id="tuji" name="lei">
                        <label for="tuji">
                            <a>图集</a>
                        </label>
                    </li>
                </ul>
            </section>
        </div>
        <div class="content_L2" id="movieinformation">
            <h3>剧情简介</h3>
            <p>{{movieInfodown.movieInfo}}</p>
        </div>
        <div class="content_L3">
            <div class="content_L3_1">
                <h3>演职人员</h3>
                <div class="content_L3_11">
                    <a href="#">全部</a>
                    <i></i>
                </div>
            </div>
            <div class="content_L3_2">
                <ul id="movieDirector">
                    <!-- 1 -->
                    <li v-for="(Director,index) in movieDirectorInfo">
                        <div>
                            <span v-if="index==0">导演</span>
                        </div>
                        <div>
                            <a href="#">
                                <img :src="Director.actorImg" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                {{Director.actorName}}
                            </a>
                        </div>
                    </li>
                    <!-- 2 -->
                    <li v-for="(Actor,index) in movieActorInfo">
                        <div>
                            <span v-if="index==0">演员</span>
                        </div>
                        <div>
                            <a href="#">
                                <img :src="Actor.actorImg" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                {{Actor.actorName}}
                            </a>
                            <p>{{Actor.movieActorRole}}</p>
                        </div>
                    </li>
                    <!-- 3 -->

                </ul>
            </div>

        </div>
        <div class="content_L4">
            <div class="content_L4_1">
                <h3>图集</h3>
                <div class="content_L4_11">
                    <a href="#">全部</a>
                    <i></i>
                </div>
            </div>
            <div class="content_L4_2">
                <div class="content_L4_2_1">
                    <a href="#">
                        <img src="../IMG/duye_tuji_1.jpg" alt="">
                    </a>
                </div>
                <div class="content_L4_2_2">
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_tuji_2.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_tuji_3.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_tuji_4.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_tuji_5.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_L5">
            <div class="content_L5_1">
                <h3>热门短评</h3>
                <div class="content_L5_11">
                    <a href="#">写短评</a>
                </div>
            </div>
            <div class="content_L5_2">
                <ul>
                    <!-- 1 -->
                    <li>
                        <div class="content_L5_2_1">
                            <img src="../IMG/duye_reping_1.jpg" alt="">
                            <i class="v1"></i>
                        </div>
                        <div class="content_L5_2_2">
                            <div class="content_L5_2_2_1">
                                <span class="content_L5_2_2_11">Monster6697</span>
                                <span class="content_L5_2_2_12">购</span>
                            </div>
                            <div class="content_L5_2_2_2">
                                <div>
                                    <span>11-09</span>
                                    <i class="xin5"></i>
                                </div>
                                <div>
                                    <a href="./login.html" target="blank"></a>
                                    <span>13690</span>
                                </div>
                            </div>
                            <p>电影很好看，但是开场验票才告诉我自带3D眼镜？？？搞得我裸眼看3D看了一个多小时，真的是弟弟行为！</p>
                        </div>
                    </li>
                    <!-- 2 -->
                    <li>
                        <div class="content_L5_2_1">
                            <img src="../IMG/duye_reping_2.jpg" alt="">
                            <i class="v4"></i>
                        </div>
                        <div class="content_L5_2_2">
                            <div class="content_L5_2_2_1">
                                <span class="content_L5_2_2_11">A名犬乐园 （定金选狗）款到发货</span>
                                <span class="content_L5_2_2_12">购</span>
                            </div>
                            <div class="content_L5_2_2_2">
                                <div>
                                    <span>11-09</span>
                                    <i class="xin5"></i>
                                </div>
                                <div>
                                    <a href="./login.html" target="blank"></a>
                                    <span>7792</span>
                                </div>
                            </div>
                            <p>
                                真的太震撼了，漫威从来没有让我失望，虽然好多地方我感觉像是被删减过许多吓人的画面，但是真的还是太好看，好多地方从头到尾一直在笑，最后还有一点小感人。一直都是震撼幽默的画面。真希望可以能有第二部的上映。这个毒液系列希望像蜘蛛侠钢铁侠一样出一个系列有续集，真的没有看过瘾啊。（人生第一次评价话有点多）总之，大家可以去观看，我是电影迷这一部我给11分，强烈大家去观看！</p>
                        </div>
                    </li>
                    <!-- 3 -->
                    <li>
                        <div class="content_L5_2_1">
                            <img src="../IMG/duye_reping_3.jpg" alt="">
                            <i class="v5"></i>
                        </div>
                        <div class="content_L5_2_2">
                            <div class="content_L5_2_2_1">
                                <span class="content_L5_2_2_11">草木灰011</span>
                                <span class="content_L5_2_2_12">购</span>
                            </div>
                            <div class="content_L5_2_2_2">
                                <div>
                                    <span>11-09</span>
                                    <i class="xin5"></i>
                                </div>
                                <div>
                                    <a href="./login.html" target="blank"></a>
                                    <span>5726</span>
                                </div>
                            </div>
                            <p>毫无疑问，《毒液》是索尼出品年度最炫酷的(漫威）超级英雄电影之一，还是原来搞笑的配方、无敌的撩妹技能，可爱的汤老师，萌萌的毒液，简直绝配！！！</p>
                        </div>
                    </li>
                    <!-- 4 -->
                    <li>
                        <div class="content_L5_2_1">
                            <img src="../IMG/duye_reping_4.jpg" alt="">
                            <i class="v3"></i>
                        </div>
                        <div class="content_L5_2_2">
                            <div class="content_L5_2_2_1">
                                <span class="content_L5_2_2_11">宝贝</span>
                                <span class="content_L5_2_2_12">购</span>
                            </div>
                            <div class="content_L5_2_2_2">
                                <div>
                                    <span>11-09</span>
                                    <i class="xin5"></i>
                                </div>
                                <div>
                                    <a href="./login.html" target="blank"></a>
                                    <span>1401</span>
                                </div>
                            </div>
                            <p>很好看，不错，可惜了买了两张票，自己一个人看完😌 </p>
                        </div>
                    </li>
                    <!-- 5 -->
                    <li>
                        <div class="content_L5_2_1">
                            <img src="../IMG/duye_reping_5.jpg" alt="">
                            <i class="v3"></i>
                        </div>
                        <div class="content_L5_2_2">
                            <div class="content_L5_2_2_1">
                                <span class="content_L5_2_2_11">洋洋</span>
                                <span class="content_L5_2_2_12">购</span>
                            </div>
                            <div class="content_L5_2_2_2">
                                <div>
                                    <span>11-12</span>
                                    <i class="xin5"></i>
                                </div>
                                <div>
                                    <a href="./login.html" target="blank"></a>
                                    <span>1301</span>
                                </div>
                            </div>
                            <p>
                                是真的好看 完全看不过瘾啊 我感觉删减了 真的烦 后面结局真的有点看不懂 说再见了 怎么莫名其妙毒液又回来了 完全看不过瘾啊啊啊啊啊 我不知道最后有没有彩蛋 时间比较急
                                看完就走了 不知道后面有没有彩蛋 求哪位大神告诉一下谢谢 跳吗? 怂包
                            </p>
                        </div>
                    </li>
                    <!-- 6 -->
                    <li>
                        <div class="content_L5_2_1">
                            <img src="../IMG/duye_reping_6.jpg" alt="">
                            <i class="v2"></i>
                        </div>
                        <div class="content_L5_2_2">
                            <div class="content_L5_2_2_1">
                                <span class="content_L5_2_2_11">这爱有何不可</span>
                                <span class="content_L5_2_2_12">购</span>
                            </div>
                            <div class="content_L5_2_2_2">
                                <div>
                                    <span>11-09</span>
                                    <i class="xin5"></i>
                                </div>
                                <div>
                                    <a href="./login.html" target="blank"></a>
                                    <span>1443</span>
                                </div>
                            </div>
                            <p>强烈推荐[强]，漫威第一部反派为主的电影，有笑点，有泪点，有刺激，有炫酷，有励志，不愧是“致命守护者”。人家两人看的是情怀，我一人看的是人生。</p>
                        </div>
                    </li>
                    <!-- 7 -->
                    <li>
                        <div class="content_L5_2_1">
                            <img src="../IMG/duye_reping_7.jpg" alt="">
                            <i class="v5"></i>
                        </div>
                        <div class="content_L5_2_2">
                            <div class="content_L5_2_2_1">
                                <span class="content_L5_2_2_11">JuliaFanl</span>
                                <i></i>
                                <span class="content_L5_2_2_12">购</span>
                            </div>
                            <div class="content_L5_2_2_2">
                                <div>
                                    <span>11-11</span>
                                    <i class="xin5"></i>
                                </div>
                                <div>
                                    <a href="./login.html" target="blank"></a>
                                    <span>582</span>
                                </div>
                            </div>
                            <p>
                                感觉毒液总是微笑的，有个性，很喜欢。埃迪+毒液，两个loser蜕变成一个winner，特别刺激，尤其是肚子饿那会儿。画面后半部分感官性强，也搞笑，前半部分没有立刻揭秘，节奏有点慢，片尾曲(英文)好听，开始期待第二部了，也期待埃迪与屠杀的打斗。</p>
                        </div>
                    </li>
                    <!-- 8 -->
                    <li>
                        <div class="content_L5_2_1">
                            <img src="../IMG/duye_reping_8.jpg" alt="">
                            <i class="v4"></i>
                        </div>
                        <div class="content_L5_2_2">
                            <div class="content_L5_2_2_1">
                                <span class="content_L5_2_2_11">Misterlonely</span>
                                <span class="content_L5_2_2_12">购</span>
                            </div>
                            <div class="content_L5_2_2_2">
                                <div>
                                    <span>11-09</span>
                                    <i class="xin5"></i>
                                </div>
                                <div>
                                    <a href="./login.html" target="blank"></a>
                                    <span>1526</span>
                                </div>
                            </div>
                            <p>
                                大眼睛的生物都自带萌的属性，奶凶奶凶的😂
                            </p>
                        </div>
                    </li>
                    <!-- 9 -->
                    <li>
                        <div class="content_L5_2_1">
                            <img src="../IMG/duye_reping_9.jpg" alt="">
                            <i class="v3"></i>
                        </div>
                        <div class="content_L5_2_2">
                            <div class="content_L5_2_2_1">
                                <span class="content_L5_2_2_11">生活樂趣</span>
                                <span class="content_L5_2_2_12">购</span>
                            </div>
                            <div class="content_L5_2_2_2">
                                <div>
                                    <span>11-09</span>
                                    <i class="xin3"></i>
                                </div>
                                <div>
                                    <a href="./login.html" target="blank"></a>
                                    <span>1052</span>
                                </div>
                            </div>
                            <p>非常奈斯，喜欢毒液突如其来的骚</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </article>
    <aside>
        <div class="content_R1">
            <div class="content_R1_1">
                <h3>热门短评</h3>
            </div>
            <ul>
                <li>
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_zhixun_1.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" title="《毒液》票房破17亿，给抖森换上汤老湿的厚嘴唇，画风太诡异了">《毒液》票房破17亿，给抖森换上汤老湿的厚嘴唇，画...</a>
                        <p>
                            <span>猫眼电影</span>
                            <i></i>
                            <span>9914</span>
                            <i></i>
                            <span>8</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_zhixun_2.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" title="《毒液》全球票房超《神奇女侠》，中国票房超16.8亿成最大票仓">《毒液》全球票房超《神奇女侠》，中国票房超16.8亿成...</a>
                        <p>
                            <span>猫眼电影</span>
                            <i></i>
                            <span>14339</span>
                            <i></i>
                            <span>53</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_zhixun_3.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" title="钢铁侠晒图，毒液现身，还和复仇者联盟抢饭吃，是在暗示什么吗">钢铁侠晒图，毒液现身，还和复仇者联盟抢饭吃，是在暗...</a>
                        <p>
                            <span>猫眼电影</span>
                            <i></i>
                            <span>19774</span>
                            <i></i>
                            <span>8</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content_R2">
            <div class="content_R2_1">
                <h3>相关电影</h3>
            </div>
            <dl>
                <!-- 1 -->
                <dd>
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_dianying_1.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" title="X战警：新变种人">
                            X战警：新变种...
                        </a>
                        <p>暂无评分</p>
                    </div>
                </dd>
                <!-- 2 -->
                <dd>
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_dianying_2.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" title="蜘蛛侠：英雄远征">
                            蜘蛛侠：英雄...
                        </a>
                        <p>暂无评分</p>
                    </div>
                </dd>
                <!-- 3 -->
                <dd>
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_dianying_3.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" title="银河护卫队3">
                            银河护卫队3
                        </a>
                        <p>暂无评分</p>
                    </div>
                </dd>
                <!-- 4 -->
                <dd>
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_dianying_4.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" title="X战警：黑凤凰">
                            X战警：黑凤凰
                        </a>
                        <p>暂无评分</p>
                    </div>
                </dd>
                <!-- 5 -->
                <dd>
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_dianying_5.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" title="黑寡妇">
                            黑寡妇
                        </a>
                        <p>暂无评分</p>
                    </div>
                </dd>
                <!-- 6 -->
                <dd>
                    <div>
                        <a href="#">
                            <img src="../IMG/duye_dianying_6.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#" title="钢骨">
                            钢骨
                        </a>
                        <p>暂无评分</p>
                    </div>
                </dd>
            </dl>
        </div>
    </aside>
</div>

<!-- 底部 -->
<footer>
    <p>
        商务合作邮箱：v@maoyan.com 客服电话：10105335 违法和不良信息举报电话：4006018900
    </p>
    <p>
        投诉举报邮箱：tousujubao@meituan.com 舞弊线索举报邮箱：wubijubao@maoyan.com
    </p>
    <p>
        友情链接 :
        <a href="#">美团网</a>
        <span></span>
        <a href="#">美团下载</a>
        <span></span>
        <a href="#">欢喜首映</a>
    </p>
    <p>
        ©2016猫眼电影 maoyan.com
        <a href="#">京ICP证160733号</a>
        <a href="#">京ICP备16022489号-1</a>
        <a href="#">京公网安备 11010102003232号</a>
        <a href="#">网络文化经营许可证</a>
        <a href="#">电子公告服务规则</a>
    </p>
    <p>
        北京猫眼文化传媒有限公司
    </p>
</footer>
<!-- 喵 -->
<a class="miao" href="./zajindan.html" target="blank">
</a>


<script>
    function getQueryString(movieId) {
        var reg = new RegExp("(^|&)" + movieId + "=([^&]*)(&|$)", "i");
        var r = decodeURI(window.location.search).substr(1).match(reg);
        if (r != null)
            return unescape(r[2]);
        return null;
    }

    var id = getQueryString("movieId");

    new Vue({
        el: '#moviedetail',
        data: {
            movieInfoUp: [],
            movieTypeByMovieId: []
        },
        beforeMount: function () {
            let _this = this;
            $.get("/movieDetails/indexMovieDetails/" + id, null, function (data) {

                _this.movieInfoUp = data;
                console.log(_this.movieInfoUp);
            })
            $.get("/movieDetails/movieType/" + id, null, function (data) {
                _this.movieTypeByMovieId = data;
                console.log(data);
            })
        }


    })

    new Vue({
        el: '#movieTitle',
        data: {
            movieHead: [],
        },
        beforeMount: function () {
            let _this = this;
            $.get("/movieDetails/indexMovieDetails/" + id, null, function (data) {

                _this.movieHead = data;
                console.log(_this.movieHead);
            })
        }

    })


    new Vue({
        el: '#movieinformation',
        data: {
            movieInfodown: [],
        },
        beforeMount: function () {
            let _this = this;
            $.get("/movieDetails/indexMovieDetails/" + id, null, function (data) {

                _this.movieInfodown = data;
                console.log(_this.movieInfodown);
            })
        }

    })

    new Vue({
        el: '#movieDirector',
        data: {
            movieDirectorInfo: [],
            movieActorInfo: []
        },
        beforeMount: function () {
            let _this = this;
            $.get("/movieActorOrDirector/Director/" + id, null, function (data) {
                _this.movieDirectorInfo = data;
                console.log(data);

            })

            $.get("/movieActorOrDirector/Actor/" + id, null, function (data) {
                _this.movieActorInfo = data;
                console.log(data);

            })
        }
    })


</script>

</body>

</html>