<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmsj.cinema.common.mapper.ConditionMapper">
  <resultMap id="BaseResultMap" type="com.pmsj.cinema.common.entity.Condition">
    <result column="condition_id" jdbcType="INTEGER" property="conditionId" />
    <result column="condition_time" jdbcType="TIMESTAMP" property="conditionTime" />
    <result column="movie_id" jdbcType="INTEGER" property="movieId" />
    <result column="cinema_id" jdbcType="INTEGER" property="cinemaId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <insert id="insert" parameterType="com.pmsj.cinema.common.entity.Condition">
    insert into condition (condition_id, condition_time, movie_id, 
      cinema_id, user_id)
    values (#{conditionId,jdbcType=INTEGER}, #{conditionTime,jdbcType=TIMESTAMP}, #{movieId,jdbcType=INTEGER}, 
      #{cinemaId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select condition_id, condition_time, movie_id, cinema_id, user_id
    from condition
  </select>
</mapper>