<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmsj.cinema.common.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.pmsj.cinema.common.entity.Order">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="movie_id" jdbcType="INTEGER" property="movieId" />
    <result column="cinema_id" jdbcType="INTEGER" property="cinemaId" />
    <result column="hall_id" jdbcType="INTEGER" property="hallId" />
    <result column="seat_id" jdbcType="INTEGER" property="seatId" />
    <result column="cash" jdbcType="INTEGER" property="cash" />
    <result column="coupon_id" jdbcType="INTEGER" property="couponId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pmsj.cinema.common.entity.Order">
    insert into order (order_id, no, movie_id, 
      cinema_id, hall_id, seat_id, 
      cash, coupon_id, user_id
      )
    values (#{orderId,jdbcType=INTEGER}, #{no,jdbcType=VARCHAR}, #{movieId,jdbcType=INTEGER}, 
      #{cinemaId,jdbcType=INTEGER}, #{hallId,jdbcType=INTEGER}, #{seatId,jdbcType=INTEGER}, 
      #{cash,jdbcType=INTEGER}, #{couponId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pmsj.cinema.common.entity.Order">
    update order
    set no = #{no,jdbcType=VARCHAR},
      movie_id = #{movieId,jdbcType=INTEGER},
      cinema_id = #{cinemaId,jdbcType=INTEGER},
      hall_id = #{hallId,jdbcType=INTEGER},
      seat_id = #{seatId,jdbcType=INTEGER},
      cash = #{cash,jdbcType=INTEGER},
      coupon_id = #{couponId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select order_id, no, movie_id, cinema_id, hall_id, seat_id, cash, coupon_id, user_id
    from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select order_id, no, movie_id, cinema_id, hall_id, seat_id, cash, coupon_id, user_id
    from order
  </select>
</mapper>